.footer-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* color de fondo opcional */
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}