    * {
  margin: 0;
  padding: 0;
  box-sizing: border-bo
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  color: #222
 }

/* --- Header Logo --- */
.top-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  
}

.logo {
  height: 90px;
  align-content: center;
 }

.logoCarrito{
   height: 60px; 
    
  }

/* --- Navbar --- */
.navbar {
  display: flex; 
  align-items: center;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 10px 50px;
  background-color: white;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-ini{
  padding: 50px;
}
.nav-fin{
   margin-left: auto;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
  padding-bottom: 5px;
}

.navbar a:hover {
  color: #000;
  border-bottom: 2px solid #000;
}

.cart-icon {
  font-size: 22px;
  border: 2px solid #ccc;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.3s;
}

.cart-icon:hover {
  background-color: #f0f0f0;
}

/* --- Hero Section --- */
.hero {

  background-position: center;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 20px 30px;
  color: white;
  text-align: center;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px 50px;
  border-radius: 10px;
}

.hero h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1em;
  margin-bottom: 20px;
}

.btn {
  background-color: transparent;
  color: white;
  border: 1.5px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: white;
  color: black;
}



.nav-fin {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-fin li {
  display: inline-block;
}

.btn-logout {
  display: inline-block;
  background-color: #e53935; /* rojo */
  color: white;
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  font-family: sans-serif;
}

.btn-logout::before {
  content: "← ";
  font-size: 1.1em;
}

.btn-logout:hover {
  background-color: #c62828;
  transform: scale(1.05);
}
